<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<!-- namespace should be the full class path of the coresponding interface. -->
    <!-- <mapper namespace="com.springmvcmybatistemplate.test.mapper.UserMapper">
     -->
<mapper namespace="test">
    <resultMap type="com.springmvcmybatistemplate.test.entity.User" id ="userRM">
        <id property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="userName" column="username"/>
        <result property="password" column="password"/>
    </resultMap>
    
    <!-- resultMap, not resultType -->
    <select id="findUserByName" parameterType="java.lang.String" resultMap="userRM">
        select * from user where username = #{userName}
    </select>
</mapper>